.contact-main {
    position: relative;
        h1 {
            position: absolute;
            top: 130px;
            font-size: 5.4rem;
            letter-spacing: 1px;
            line-height: 56px;
            span {
                display: block;
            }
        }
        h1::before {
            content: '';
            display: inline-block;
            width: 40px;
            height: 5px;
            background: black;
            position: absolute;
            top: -50px;
        }
        h2 {
            font-weight: 600;
            margin-bottom: 20px;
        }
        p {
            color: $fontMediumGrey;
    }
}

.full-bleed-image-1 {
    height: 200px;
    background-image: url(../assets/contact-1.jpeg);
    background-size: cover;
}

.full-bleed-image-2 {
    height: 500px;
    background-image: url(../assets/contact-2.jpeg);
    background-size: cover;
}

.contact-details {
    padding-top: 100px;
    padding-bottom: 50px; 
    i {
        font-size: 3rem;
    }
}

h6 {
    font-size: 1.4rem;
    letter-spacing: 4px;
    margin: 10px 0 5px 0;
}

.contact-tiles {
    margin: 50px 0;
    display: flex; 
        li { 
            width: 350px;
            padding: 50px 0;
            padding-left: 50px;
        }
        li:not(:last-of-type) {
            border-right: $lightBorder;
    }
}

.get-in-touch { 
    padding-bottom: 100px; 
}