.home-header {
    height: 100vh;
    background-image: url(../assets/home-1.jpeg);
    background-size: cover;
    background-position: bottom;
}

.overview {
    background-color: $bgcPrimary;
    padding: 200px 0 100px 0;
}

.overview-image {
    height: 250px;
    width: 450px;
    margin: 0 auto 50px auto;
    position: relative;
}

.overview-image::before {
    content: url(../assets/home-circle-text.png);
    position: absolute;
    top: -100px;
    left: -100px; 
}

.overview-text {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
        div {
            width: calc(48% - 8px);
    }
}

.product-gallery {
    position: relative; 
    padding: 150px 0;
    color: $mediumGrey;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
        div { 
            width: 60%;
            margin: 0 auto;
        }
        img {
            width: 275px;
            height: 275px;
            border-radius: 50%;
            margin: 0 auto 40px auto;
        }
        button {
            font-size: 2.8rem;
            top: calc(50% - 1.4rem);
            bottom: calc(50% - 1.4rem);
            transition: all 0.2s;
                &:hover {
                    color: black;
            }
        }
        button:first-of-type {
            position: absolute;
            left: 0;
        }
        button:last-of-type {
            position: absolute;
            right: 0;
    }
}

.services-section {
    background-image: url(../assets/home-4.jpeg);
    background-size: cover;
    background-position: right;
}

.services-wrapper {
    max-width: 1500px;    
    margin: 0 auto;
    padding: 150px 30px;
    display: flex;
    justify-content: flex-end;
}

.services-content {
    width: calc(800px + 50px);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; 
    li {
        margin: 50px 10px;
        flex: 1 1 400px;
        display: flex; 
    }
}

.icon-container {
    width: 60px;
    height: 60px;
    font-size: 2.2rem;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-text {
    margin-left: 30px;
    width: calc(100% - 60px - 40px);
        p {
            color: $mediumGrey;
    }
}

.team-section { 
    padding: 150px 0;
    h2 {
        text-align: center;
        margin-bottom: 50px; 
    }
}

.team-container {
    margin: 0 auto;
    display: grid; 
    grid-gap: 20px;   
    grid-auto-rows: 200px;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.team-txt-1 {
    background-color: $bgcSecondary;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1 / 3; 
} 

.team-txt-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    h4 {
        text-align: center;
        width: 80%;
        margin: 0;
    }
}

.portfolio-section {
    position: relative;
    display: flex;
    height: 600px;
}

.portfolio-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.portfolio-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    h2 {
        margin: 0; 
        padding: 0;
    }
    p {
        color: $mediumGrey;
        margin: 40px 0;
    }
    a {
        @include primaryFont(700);
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 15px 25px;
        background-color: white;
    }
}

.text-background {
    height: 100%;
    width: 50%;
    background-color: $bgcPrimary;
}

.portfolio-img-container {
    height: 100%;
    width: 50%;
}

