.long-form {
    width: 100%;
        input,
        textarea {
            color: $fontMediumGrey;
            margin: 10px 0;
            border: none;
            border-bottom: 1.5px solid rgb(175, 175, 175);
            transition: all 0.2s;
        }
        input {
            height: 30px;
            min-width: 200px;
            flex: 0 1 30%;
        }  
        textarea {
            height: 200px;
            width: 100%;
        }
        textarea:focus,
        input:focus {
            color: black;
            border: none;
            border-bottom: 1.5px solid black;
        }
        button {
            @include primaryFont(600);
            text-transform: uppercase;
            padding-bottom: 10px;
            border-bottom: 1px solid transparent;
            transition: all 0.3s;

            &:hover {
            border-bottom: 1px solid black;
        }
    }
}

fieldset {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
}
