/* MEDIA QUERIES */
/* for small laptop screens */
@media(max-width: 1050px) {
    .mobile-menu {
        height: auto;
        overflow: visible;
    } 
    
    .nav-menu {
        display: none;
        // height: 100vh;
        // width: 60%;
        // padding-top: 50px;
        // background-color: $bgcSecondary;
        // position: absolute; 
        // top: -40px;
        // right: -10vw;
        // flex-direction: column;
        // justify-content: flex-start; 
        // div {
        //     flex-direction: column;
        // }
    } 
    .services-content {
        flex-direction: column;
        width: 80%;
        margin: auto;
        li {
            width: 100%;
        }
    } 
    .contact-tiles {
        flex-direction: column;
        align-items: center;
        text-align: center;
        li {
            width: 100%;
            padding: 20px 0;
        }
        li:not(:last-of-type) {
            border-right: none;
        }
    }
}

/* for tablet screens */
@media(max-width: 768px) {
    .blog-header {
        height: 400px;
    }

    .product-gallery div {width: 80%; }

    .portfolio-section {
        flex-direction: column;
        height: auto;
    }

    .portfolio-wrapper {
        width: 85%;
        height: 400px; 
    }

    .portfolio-text {
        width: 100%;
    }

    .text-background,
    .portfolio-img-container {
        width: 100%;
        height: 400px;
    }

    article nav {margin-bottom: 0;} 

    .related-posts {
        ul {
            flex-direction: column;
        }
        li {
            width: 100%;
            margin-bottom: 20px;
                div {
                    height: 200px;
            }
        }
    }

    .recent-posts {
        margin: 50px 0;
        h4 {
            text-align: left;
        }
    }

    .subscribe-now {align-items: flex-start;} 
}

@media(max-width: 480px) {
    .logo {font-size: 2.6rem;}

    .blog-header {height: 350px;}

    .wrapper {width: 85%;}

    .product-gallery {
        padding: 100px 0;
        font-size: 1.4rem;
        line-height: 2.2rem;
        img {
            width: 225px;
            height: 225px;
        }
    }

    .blog-main {
        h1 {
            font-size: 4.4rem;
            line-height: 4.4rem;
        }
    }
 
    .article-author {min-width: initial;}
    
    .footer-content,
    fieldset {flex-direction: column;}

    .footer-content h4 {margin-bottom: 20px;}

    .subscribe-now {
        form {
            width: 100%;
        }
        input {
            flex-grow: 1;
        }
    }  

    .footer-bar {
        font-size: 1.2rem;
        padding: 20px 0;
    }
}

/* For mobile screens */