$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;
$bgcPrimary:#C3DAB7;
$bgcPrimaryHover: rgb(152, 196, 126);
$bgcSecondary: #F6F6F6;
$sectionPadding: 100px 0;
$mediumGrey: grey;
$lightGrey: rgb(240, 240, 240);
$lightBorder: 1px solid grey; 

@mixin primaryFont($fontWeight) {
    font-family: $fontPrimary;
    font-weight: $fontWeight;
}

@mixin backgroundImage($height) {
    height: $height;
    background-size: cover;
    background-position: center;
}

@mixin mainHeading{
    font-size: 5.4rem;
    letter-spacing: 1px;
    line-height: 5.6rem;
}