$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;
$bgcPrimary:#C3DAB7;
$bgcPrimaryHover: rgb(152, 196, 126);
$bgcSecondary: #F6F6F6;
$sectionPadding: 100px 0;
$fontMediumGrey: grey;
$lightBorder: 1px solid grey;

@mixin primaryFont($fontWeight) {
    font-family: $fontPrimary;
    font-weight: $fontWeight;
}

@mixin footerButtonSize {
    height: 100%;
    height: 40px;
}
