form.long-form {
    width: 100%;
        input,
        textarea {
            border: none;
            margin: 10px 0;
            color: grey;
            border-bottom: 1.5px solid rgb(175, 175, 175);
            transition: all 0.2s;
        }
        input {
            width: calc((100% - 50px)/3);
            height: 30px;
        }
        textarea {
            height: 200px;
            width: 100%;
        }
        textarea:focus,
        input:focus {
            border: none;
            color: black;
            border-bottom: 1.5px solid black;
        }
        button[type="submit"] {
            text-transform: uppercase;
            font-family: $fontBase;
            padding-bottom: 10px;
            border-bottom: 1px solid transparent;
            transition: all 0.3s;
        }
        button[type="submit"]:focus, 
        button[type="submit"]:hover {
            border-bottom: 1px solid black;
    }
}

fieldset {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 20px 0;
}
