// GLOBAL VARIABLES

$fontBase: 'Montserrat', sans-serif;
$fontBody: 'Open Sans', sans-serif;
$bgcGreen:#C3DAB7;
$bgcLight: #F6F6F6;
$sectionPadding: 100px 0;

/* smooth scroll and default font size set */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-width: 350px;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-family: $fontBody;
}

/* default wrapper - DO NOT CHANGE */
.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

/* removes default padding and margins*/
ul,
li,
h1, 
h2,
h3,
h4,
h5,
h6,
p, 
fieldset {
    margin: 0;
    padding: 0;
}

/* removes list style bullets */
li {list-style: none;}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* removes default border and color */
button {
    background-color: inherit;
    font-family: inherit; 
}

input,
button,
fieldset {border: none;}

address {font-style: normal;}

/* FONT STUFF */
.logo,
h1,
h2,
h3,
h4,
h5,
h6 {font-family: $fontBase}

p {font-family: $fontBody}

/* ALL uppercase text */
.logo,
h1,
h2,
h3,
h4,
h5,
h6,
header nav,
.bar {
    text-transform: uppercase;
} 
h2,
h3 {font-weight: 400;}

h3 {margin-bottom: 10px;}

h4 {
    font-weight: 400;
    margin-bottom: 30px;
} 