header {
    padding: 40px 0;
        nav {
            width: 100%;
            position: relative;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
        div {
            display: flex;    
        }
        li {
            padding: 0 15px;
            font-family: $fontBase; 
        }
        li:focus,
        li:hover {
            text-decoration: line-through;
        }
        a {
            padding: 5px;
        }
        i {
            font-size: 2rem;
    }
}

.logo { 
    font-size: 3.4rem;
    font-weight: 700;
    text-align: center;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(50% - 100px);
    left: calc(50% - 100px);
}

.shopping-icon {
    position: relative;
        div {
            font-size: 1rem;
            height: 15px;
            width: 15px;
            background-color: $bgcGreen;
            position: absolute;
            right: 5px;
            top: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
    }
}

.mobile-menu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    height: 0;
    overflow: hidden;
}

input[type="checkbox"] {
    display: none;
}