header.home {
    height: 100vh;
    background-image: url(../../assets/home-1.jpeg);
    background-size: cover;
    background-position: bottom;
}

.overview {
    padding: 200px 0 100px 0;
}

.overview-image {
    height: 250px;
    width: 400px;
    margin: 0 auto 50px auto;
    position: relative;
}

.overview-image::after {
    content: url(../../assets/home-circle-text.png);
    position: absolute;
    top: -100px;
    left: -100px;
}

.overview-text {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
        div {
            width: calc(48% - 8px);
    }
}

.product-gallery {
    padding: 100px 0;
        div {
            position: relative;
            width: 60%;
            text-align: center;
            margin: 0 auto;
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin: 0 auto 30px auto;
            }
            i {
                font-size: 2.8rem;
                top: calc(50% - 1.4rem);
                bottom: calc(50% - 1.4rem);
            }
            i:first-of-type {
                position: absolute;
                left: -100px;
            }
            i:last-of-type {
                position: absolute;
                right: -100px;
            }
    }
}

.services-section {
    background-image: url(../../assets/home-4.jpeg);
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: right;
}

.services-content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    li {
        width: 50%;
        margin: 20px 0;
    }
}

.team-section {
    padding: 100px 0;
    h2 {
        text-align: center;
    }
}

.portfolio-section {
    position: relative;
    display: flex;
    height: 500px;
    h3 {
        font-weight: 400;
    }
}

.portfolio-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.portfolio-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    p {
        margin: 30px 0;
    }
}

.view-button {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
    background-color: white;
}

.text-background {
    height: 100%;
    width: 50%;
    background-color: $bgcGreen;
}

.portfolio-img-container {
    height: 100%;
    width: 50%;
}

