header.home {
    height: 100vh;
    background-image: url(../../assets/home-1.jpeg);
    background-size: cover;
    background-position: bottom;
}

.home 
.overview {
    background-color: $bgcGreen;
    padding: 200px 0 100px 0;
}

.overview-image {
    height: 250px;
    width: 450px;
    margin: 0 auto 50px auto;
    position: relative;
}

.overview-image::after {
    content: url(../../assets/home-circle-text.png);
    position: absolute;
    top: -100px;
    left: -100px;
}

.overview-text {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
        div {
            width: calc(48% - 8px);
    }
}

.product-gallery {
    padding: 150px 0;
    position: relative; 
        div { 
            width: 60%;
            text-align: center;
            font-style: italic;
            color: grey;
            font-size: 1.6rem;
            line-height: 2.8rem;
            margin: 0 auto;
            img {
                width: 275px;
                height: 275px;
                border-radius: 50%;
                margin: 0 auto 40px auto;
            }
        }
        button {
        color: grey;
        font-size: 2.8rem;
        top: calc(50% - 1.4rem);
        bottom: calc(50% - 1.4rem);
        transition: all 0.2s;
        }
        button:focus,
        button:hover {
            color: black;
        }
        button:first-of-type {
            position: absolute;
            left: 0;
        }
        button:last-of-type {
            position: absolute;
            right: 0;
    }
}

.services-section {
    background-image: url(../../assets/home-4.jpeg);
    background-size: cover;
    background-position: right;
    padding: 200px 0;
    display: flex;
    justify-content: right;
}

.services-content {
    width: 60%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap; 
    li {
        width: calc(50% - 20px);
        margin: 50px 10px;
        display: flex; 
    }
    p {
        color: grey; 
    }
}

.icon-container {
    width: 60px;
    height: 60px;
    font-size: 2.2rem;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-text {
    margin-left: 30px;
    width: calc(100% - 60px - 40px);
}

.team-section { 
    padding: 150px 0;
    h2 {
        text-align: center;
        margin-bottom: 50px; 
    }
}

.team-content {
    max-width: 1000px;  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    div { 
        height: 250px;
        margin: 10px;
    }
}

.txt-2,
.team-img-container {
    width: calc(250px - 20px);
}

.txt-1 {
    width: calc(500px - 20px);
    background-color: $bgcLight;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.txt-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    h4 {
        text-align: center;
        width: 80%;
        margin: 0;
    }
}

.portfolio-section {
    position: relative;
    display: flex;
    height: 600px;
}

.portfolio-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.portfolio-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    h2 {
        margin: 0; 
        padding: 0;
    }
    p {
        color: grey;
        margin: 40px 0;
    }
    a {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $fontBase;
        font-size: 1.2rem;
        letter-spacing: 1px;
        padding: 15px 25px;
        background-color: white;
    }
}

.text-background {
    height: 100%;
    width: 50%;
    background-color: $bgcGreen;
}

.portfolio-img-container {
    height: 100%;
    width: 50%;
}

