html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* smooth scroll and default font size set */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 350px;
  font-size: 1.4rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Open Sans", sans-serif;
}

/* default wrapper - DO NOT CHANGE */
.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

/* removes default padding and margins*/
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* removes list style bullets */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* removes default border and color */
button {
  background-color: inherit;
  font-family: inherit;
}

button,
fieldset {
  border: none;
}

address {
  font-style: normal;
}

/* FONT STUFF */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

/* ALL uppercase text */
.logo,
h1,
h2,
h3,
h4,
h5,
h6,
header nav,
.bar {
  text-transform: uppercase;
}

h1 {
  font-size: 3.7rem;
  letter-spacing: 0.9px;
}

h2 {
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
  margin-bottom: 50px;
}

h2,
h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

.overview {
  background-color: #C3DAB7;
}

header {
  padding-top: 30px;
  position: relative;
}

header nav {
  width: 100%;
  height: auto;
  position: relative;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu li {
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
}

.nav-menu i {
  font-size: 2rem;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(50% - 100px);
  left: calc(50% - 100px);
}

.shopping-icon {
  position: relative;
}

.shopping-icon div {
  font-size: 1rem;
  position: absolute;
  background-color: #C3DAB7;
  right: 5px;
  top: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.home {
  height: 100vh;
  background-image: url(../../assets/home-1.jpeg);
  background-size: cover;
  background-position: bottom;
}

.overview {
  padding: 200px 0 100px 0;
}

.overview-image {
  height: 250px;
  width: 400px;
  margin: 0 auto 50px auto;
  position: relative;
}

.overview-image::after {
  content: url(../../assets/home-circle-text.png);
  position: absolute;
  top: -100px;
  left: -100px;
}

.overview-text {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview-text div {
  width: calc(48% - 8px);
}

.product-gallery {
  padding: 100px 0;
}

.product-gallery div {
  position: relative;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.product-gallery div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 30px auto;
}

.product-gallery div button {
  color: grey;
  font-size: 2.8rem;
  top: calc(50% - 1.4rem);
  bottom: calc(50% - 1.4rem);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.product-gallery div button:focus,
.product-gallery div button:hover {
  color: black;
}

.product-gallery div button:first-of-type {
  position: absolute;
  left: -100px;
}

.product-gallery div button:last-of-type {
  position: absolute;
  right: -100px;
}

.services-section {
  background-image: url(../../assets/home-4.jpeg);
  background-size: cover;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.services-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-content li {
  width: 50%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-content p {
  color: grey;
}

.icon-container {
  width: 50px;
  height: 50px;
  font-size: 2.2rem;
  border: 1.5px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-text {
  margin-left: 10px;
  width: calc(100% - 50px - 10px);
}

.team-section {
  padding: 100px 0;
}

.team-section h2 {
  text-align: center;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-content div {
  margin: 10px 10px;
  height: 200px;
}

.txt-2,
.team-img-container {
  width: 200px;
}

.txt-1 {
  width: 50%;
  background-color: #F6F6F6;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.txt-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.txt-2 h4 {
  text-align: center;
  width: 80%;
  margin: 0;
}

.portfolio-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

.portfolio-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.portfolio-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
}

.portfolio-text p {
  margin: 30px 0;
}

.view-button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
  background-color: white;
}

.text-background {
  height: 100%;
  width: 50%;
  background-color: #C3DAB7;
}

.portfolio-img-container {
  height: 100%;
  width: 50%;
}

/* BLOG PAGE */
header.blog-header {
  height: 90vh;
  background-image: url(../../assets/blog-1.jpeg);
  background-size: cover;
  background-position: bottom;
}

.blog-main h1 {
  margin-bottom: 40px;
}

.blog-main h2 {
  font-weight: 700;
}

article {
  padding-top: 100px;
}

article nav {
  margin-bottom: 50px;
}

article nav span {
  font-weight: 700;
}

article p:first-of-type {
  font-weight: 700;
}

article .social-links {
  text-transform: uppercase;
  font-size: 1.8rem;
}

article .social-links a {
  margin: 0 10px;
}

.article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid grey;
}

.article-info p:first-child {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.article-info div:not(:first-of-type) {
  width: 25%;
}

.article-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.article-author img {
  height: 80px;
  width: 80px;
  margin-right: 30px;
  border-radius: 50%;
}

.article-text {
  padding-top: 50px;
}

.article-text p {
  margin-bottom: 20px;
}

.related-posts {
  padding: 100px 0;
}

.related-posts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

.related-posts li {
  width: calc((100% - 2%) /3);
}

.related-posts li p {
  margin-top: 10px;
}

.related-posts li:not(:last-of-type) {
  margin-right: 1%;
}

.published-comments {
  padding: 20px 0;
}

.published-comments li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.published-comments li img {
  height: 60px;
  width: 60px;
}

.published-comments li p:first-of-type {
  text-transform: uppercase;
}

.published-comments li p:last-of-type {
  color: grey;
  font-size: 1.2rem;
}

.published-comments span {
  color: green;
  text-transform: initial;
  font-style: italic;
}

.comment-bubble {
  width: calc(100% - 50px - 4%);
  background-color: #F6F6F6;
  padding: 20px;
  margin-left: 4%;
}

.post-comment {
  padding: 50px 0;
}

form.long-form {
  width: 100%;
}

form.long-form input,
form.long-form textarea {
  border: none;
  margin: 10px 0;
  color: grey;
  border-bottom: 1.5px solid #afafaf;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

form.long-form input {
  width: calc((100% - 50px)/3);
  height: 30px;
}

form.long-form textarea {
  height: 200px;
  width: 100%;
}

form.long-form textarea:focus,
form.long-form input:focus {
  border: none;
  color: black;
  border-bottom: 1.5px solid black;
}

form.long-form button[type="submit"] {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

form.long-form button[type="submit"]:focus,
form.long-form button[type="submit"]:hover {
  border-bottom: 1px solid black;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 20px 0;
}

.full-bleed-image-1 {
  height: 200px;
  background-image: url(../../assets/contact-1.jpeg);
  background-size: cover;
}

.full-bleed-image-2 {
  height: 500px;
  background-image: url(../../assets/contact-2.jpeg);
  background-size: cover;
}

main.contact {
  position: relative;
}

.contact h1 {
  position: absolute;
  top: 150px;
}

.contact-details {
  padding-top: 100px;
  padding-bottom: 50px;
}

.contact-details i {
  font-size: 3rem;
}

.contact-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-tiles li {
  width: calc(100% /3);
}

.get-in-touch {
  padding-top: 50px;
  padding-bottom: 100px;
}

footer {
  color: white;
  background-color: #333333;
}

footer .content {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bar {
  text-align: center;
  border-top: 1px solid #646464;
  padding: 50px 0;
  letter-spacing: 5px;
}

footer .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-links ul li {
  margin-right: 20px;
}

address {
  margin-bottom: 20px;
}

.recent-posts h4 {
  text-align: center;
}

.recent-posts li {
  list-style: initial;
  padding-bottom: 5px;
}

.subscribe-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.subscription-form input {
  padding: 0 15px;
  display: block;
  height: 100%;
  height: 40px;
}

.subscription-form button {
  font-size: 2.6rem;
  background-color: #C3DAB7;
  height: 100%;
  height: 40px;
}
/*# sourceMappingURL=style.css.map */