html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* smooth scroll and default font size set */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 350px;
  font-size: 1.4rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Open Sans", sans-serif;
}

/* default wrapper - DO NOT CHANGE */
.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

/* removes default padding and margins*/
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset {
  margin: 0;
  padding: 0;
}

/* removes list style bullets */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* removes default border and color */
button {
  background-color: inherit;
  font-family: inherit;
}

input,
button,
fieldset {
  border: none;
}

address {
  font-style: normal;
}

/* FONT STUFF */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

/* ALL uppercase text */
.logo,
h1,
h2,
h3,
h4,
h5,
h6,
header nav,
button[type="submit"],
.footer-bar {
  text-transform: uppercase;
}

h2,
h3 {
  font-weight: 400;
}

h3 {
  margin-bottom: 10px;
}

h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

header {
  padding: 40px 0;
}

header nav {
  position: relative;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu li {
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
}

.nav-menu li:focus, .nav-menu li:hover {
  text-decoration: line-through;
}

.nav-menu a {
  padding: 5px;
}

.nav-menu i {
  font-size: 2rem;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  text-align: center;
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(50% - 100px);
  left: calc(50% - 100px);
}

.shopping-icon {
  position: relative;
}

.shopping-icon div {
  font-size: 1rem;
  height: 15px;
  width: 15px;
  background-color: #C3DAB7;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu {
  position: absolute;
  right: 0;
  top: -1px;
  font-size: 2.6rem;
  height: 0;
  overflow: hidden;
}

.mobile-menu + input {
  display: none;
}

footer {
  color: white;
  background-color: #333333;
}

.footer-content {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-bar {
  letter-spacing: 5px;
  text-align: center;
  border-top: 1px solid grey;
  padding: 50px 0;
}

.footer-social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-links li {
  margin-right: 20px;
}

address {
  margin-bottom: 20px;
}

.recent-posts {
  padding: 0 20px;
}

.recent-posts h4 {
  text-align: center;
}

.recent-posts li {
  list-style: inside;
  padding-bottom: 5px;
}

.subscribe-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.subscription-form input {
  padding: 0 15px;
  display: block;
  height: 40px;
}

.subscription-form button {
  font-size: 2.6rem;
  background-color: #C3DAB7;
  height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.subscription-form button:focus, .subscription-form button:hover {
  background-color: #98c47e;
}

.home-header {
  height: 100vh;
  background-image: url(../assets/home-1.jpeg);
  background-size: cover;
  background-position: bottom;
}

.overview {
  background-color: #C3DAB7;
  padding: 200px 0 100px 0;
}

.overview-image {
  height: 250px;
  width: 450px;
  margin: 0 auto 50px auto;
  position: relative;
}

.overview-image::before {
  content: url(../assets/home-circle-text.png);
  position: absolute;
  top: -100px;
  left: -100px;
}

.overview-text {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview-text div {
  width: calc(48% - 8px);
}

.product-gallery {
  position: relative;
  padding: 150px 0;
  color: grey;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;
}

.product-gallery div {
  width: 60%;
  margin: 0 auto;
}

.product-gallery img {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  margin: 0 auto 40px auto;
}

.product-gallery button {
  color: grey;
  font-size: 2.8rem;
  top: calc(50% - 1.4rem);
  bottom: calc(50% - 1.4rem);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.product-gallery button:hover {
  color: black;
}

.product-gallery button:first-of-type {
  position: absolute;
  left: 0;
}

.product-gallery button:last-of-type {
  position: absolute;
  right: 0;
}

.services-section {
  background-image: url(../assets/home-4.jpeg);
  background-size: cover;
  background-position: right;
  padding: 200px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services-content {
  width: 60%;
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-content li {
  width: calc(50% - 20px);
  margin: 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-content p {
  color: grey;
}

.icon-container {
  width: 60px;
  height: 60px;
  font-size: 2.2rem;
  border: 2px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-text {
  margin-left: 30px;
  width: calc(100% - 60px - 40px);
}

.team-section {
  padding: 150px 0;
}

.team-section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.team-container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: 200px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.team-txt-1 {
  background-color: #F6F6F6;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.team-txt-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.team-txt-2 h4 {
  text-align: center;
  width: 80%;
  margin: 0;
}

.portfolio-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.portfolio-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.portfolio-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
}

.portfolio-text h2 {
  margin: 0;
  padding: 0;
}

.portfolio-text p {
  color: grey;
  margin: 40px 0;
}

.portfolio-text a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: white;
}

.text-background {
  height: 100%;
  width: 50%;
  background-color: #C3DAB7;
}

.portfolio-img-container {
  height: 100%;
  width: 50%;
}

/* BLOG PAGE */
.blog-header {
  height: 90vh;
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  background-position: bottom;
}

.blog-main h1 {
  margin-bottom: 30px;
  font-size: 5.4rem;
  letter-spacing: 1px;
  line-height: 5.6rem;
}

.blog-main h2 {
  font-weight: 700;
  border-bottom: 1px solid grey;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

article {
  padding-top: 100px;
}

article nav {
  color: grey;
  margin-bottom: 50px;
}

article nav span {
  color: black;
  font-weight: 700;
}

article .social-links {
  text-transform: uppercase;
  font-size: 1.8rem;
}

article .social-links a {
  margin: 0 10px;
}

.article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
  border-bottom: 1px solid grey;
}

.article-info p:first-of-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.article-info p:last-of-type {
  color: grey;
}

.article-info div {
  padding: 5px 0;
}

.article-info div:not(:first-of-type) {
  min-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.article-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.article-author img {
  height: 80px;
  width: 80px;
  margin-right: 30px;
  border-radius: 50%;
}

.article-text {
  padding-top: 50px;
}

.article-text p {
  margin-bottom: 20px;
  color: grey;
}

.article-text p:first-of-type {
  color: black;
  font-weight: 700;
}

.related-posts {
  padding: 100px 0;
}

.related-posts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.related-posts li {
  width: calc((100% - 2%) /3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.related-posts li p {
  margin-top: 10px;
}

.related-posts li div {
  height: 500px;
}

.related-posts li:hover {
  opacity: 0.7;
}

.related-posts li:not(:last-of-type) {
  margin-right: 1%;
}

.published-comments {
  padding: 20px 0;
}

.published-comments li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.published-comments li img {
  height: 60px;
  width: 60px;
}

.published-comments li p:first-of-type {
  text-transform: uppercase;
}

.published-comments li p:last-of-type {
  color: grey;
  font-size: 1.2rem;
}

.published-comments span {
  color: green;
  text-transform: initial;
  font-style: italic;
}

.comment-bubble {
  width: calc(100% - 50px - 4%);
  background-color: #F6F6F6;
  padding: 20px;
  margin-left: 4%;
  position: relative;
}

.comment-bubble::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: #F6F6F6;
}

.post-comment {
  padding: 50px 0;
}

.contact-main {
  position: relative;
}

.contact-main h1 {
  font-size: 5.4rem;
  letter-spacing: 1px;
  line-height: 5.6rem;
  position: absolute;
  top: 130px;
}

.contact-main h1 span {
  display: block;
}

.contact-main h1::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 5px;
  background: black;
  position: absolute;
  top: -50px;
}

.contact-main h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-main p {
  color: grey;
}

.contact-details {
  padding: 100px 0 50px 0;
}

h6 {
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin: 10px 0 5px 0;
}

.contact-tiles {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-tiles li {
  width: calc(100%/3);
  padding: 50px;
}

.contact-tiles li:not(:last-of-type) {
  border-right: 1px solid grey;
}

.contact-tiles i {
  font-size: 3rem;
}

.get-in-touch {
  padding-bottom: 100px;
}

.full-bleed-image-1 {
  background-image: url(../assets/contact-1.jpeg);
  height: 200px;
  background-size: cover;
  background-position: center;
  background-position: left;
}

.full-bleed-image-2 {
  background-image: url(../assets/contact-2.jpeg);
  height: 500px;
  background-size: cover;
  background-position: center;
}

.long-form {
  width: 100%;
}

.long-form input,
.long-form textarea {
  color: #c8c8c8;
  margin: 10px 0;
  border: none;
  border-bottom: 1.5px solid #afafaf;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.long-form input {
  height: 30px;
  min-width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.long-form textarea {
  height: 200px;
  width: 100%;
}

.long-form textarea:focus,
.long-form input:focus {
  color: black;
  border: none;
  border-bottom: 1.5px solid black;
}

.long-form button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.long-form button:focus, .long-form button:hover {
  border-bottom: 1px solid black;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
}

/* MEDIA QUERIES */
/* for small laptop screens */
@media (max-width: 1050px) {
  .mobile-menu {
    height: auto;
    overflow: visible;
    z-index: 20;
  }
  .nav-menu {
    background-color: #F6F6F6;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-menu div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-menu li {
    margin: 10px 0;
  }
  header input:checked + ul {
    right: -100%;
  }
  .services-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .services-content li {
    width: 100%;
  }
  .contact-tiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact-tiles li {
    width: 100%;
    padding: 20px 0;
  }
  .contact-tiles li:not(:last-of-type) {
    border-right: none;
  }
}

/* for tablet screens */
@media (max-width: 768px) {
  .blog-header {
    height: 400px;
  }
  .overview-image {
    width: 70%;
    height: 70%;
  }
  .overview-image::before {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .overview-text {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .overview-text div:first-of-type {
    margin-bottom: 50px;
  }
  .overview-text div {
    width: 70%;
  }
  .product-gallery div {
    width: 80%;
  }
  .portfolio-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .portfolio-wrapper {
    width: 85%;
    height: 400px;
  }
  .portfolio-text {
    width: 100%;
  }
  .text-background,
  .portfolio-img-container {
    width: 100%;
    height: 400px;
  }
  article nav {
    margin-bottom: 0;
  }
  .related-posts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .related-posts li {
    width: 100%;
    margin-bottom: 20px;
  }
  .related-posts li div {
    height: 200px;
  }
  .recent-posts {
    margin: 50px 0;
    padding: 0;
  }
  .recent-posts h4 {
    text-align: left;
  }
  .subscribe-now {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 2.6rem;
  }
  .blog-header {
    height: 350px;
  }
  .wrapper {
    width: 85%;
  }
  .overview {
    padding: 100px 0;
  }
  .overview-image::before {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .product-gallery {
    padding: 100px 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .product-gallery img {
    width: 225px;
    height: 225px;
  }
  .team-txt-1 h4 {
    margin-bottom: 10px;
  }
  .team-txt-1 p {
    line-height: 2rem;
  }
  .blog-main h1 {
    font-size: 4.4rem;
    line-height: 4.4rem;
  }
  .article-author {
    min-width: initial;
  }
  .footer-content,
  fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content h4 {
    margin-bottom: 20px;
  }
  .subscribe-now form {
    width: 100%;
  }
  .subscribe-now input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer-bar {
    font-size: 1.2rem;
    padding: 20px 0;
  }
  .long-form input {
    width: 100%;
  }
}

/* For mobile screens */
